@model BusBoard.Web.ViewModels.BusInfo
@{
    ViewBag.Title = "Bus Information";
}

<h2>BusInfo</h2>

<div class="row">
    <p>You entered postcode @Model.PostCode. Below are all the bus stops within 500m.</p>
    <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      
    }
    
    td, th {
      border: 1px solid #3071a9;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #c0daf9;
    }
    </style>
    <table>
        <col style="width: 25%">
        <col style="width: 15%">
        <col style="width: 15%">
        <col style="width: 15%">
        <col style="width: 15%">
        <col style="width: 15%">
        @{ var countBusStop = 0; }
        @foreach (var busStop in Model.UpcomingBusesDict)
        {
            <tr>
                @{ countBusStop++; }
                <th>Bus Stop No. @countBusStop is @busStop.Key </th>
                @if (busStop.Value.FirstOrDefault() != null)
                {
                    int countBuses = 0;
                    foreach (var bus in busStop.Value)
                    {
                        countBuses++;
                        <td>
                            <p>Line: @bus.LineName</p>
                            <p>To: @bus.DestinationName</p>
                            <p>Scheduled: @bus.ExpectedArrival.AddHours(1).TimeOfDay</p>
                            <p>Expected: @bus.TimeToLive.AddHours(1).TimeOfDay</p>
                        </td>
                    }
                    if (countBuses < 5)
                    {
                        <td colspan=@(5 - countBuses) style="text-align: center">No more upcoming buses</td>
                    }
                }
                else
                {
                    <td colspan="5" style="text-align: center"> There are no upcoming bus departures at this stop</td>
                }

            </tr>
        }
    </table>
</div>