@model BusBoard.Web.ViewModels.BusInfo
@{
  ViewBag.Title = "Bus Information";
}

<h2>BusInfo</h2>

<div class="row">
    <p>You entered postcode @Model.PostCode</p>
    <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
    <table>
        <tr>
            <th>Your nearest bus stop is @Model.UpcomingBusesList1[0].StationName</th>
            @foreach (var bus in Model.UpcomingBusesList1)
            {
                <td>
                    <p>Line: @bus.LineName</p>
                    <p>Destination: @bus.DestinationName</p>
                    <p>Scheduled Arrival: @bus.ExpectedArrival.AddHours(1).TimeOfDay</p>
                    <p>Expected Arrival: @bus.TimeToLive.AddHours(1).TimeOfDay</p>
                </td>
            }
        </tr>
        <tr>
            <th>Your 2nd nearest bus stop is @Model.UpcomingBusesList2[0].StationName</th>
                        @foreach (var bus in Model.UpcomingBusesList2)
                            {
                                <td>
                                <p>Line: @bus.LineName</p>
                                <p>Destination: @bus.DestinationName</p>
                                <p>Scheduled Arrival: @bus.ExpectedArrival.AddHours(1).TimeOfDay</p>
                                <p>Expected Arrival: @bus.TimeToLive.AddHours(1).TimeOfDay</p>
                                </td>
                            }
        </tr>
    </table>
</div>
