@using System.Threading
@using BusBoard.Api
@model BusBoard.Web.ViewModels.BusInfo
@{
  ViewBag.Title = "Bus Information";
}

<h2>BusInfo</h2>

<div class="row">
    <p>You entered postcode @Model.PostCode</p>
    <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
    <table>
        @{ var count = 0; }
        @foreach (var busStop in Model.UpcomingBusesDict)
        {

            <tr>
                @{ count++; }
                <th>Bus Stop No. @count is @busStop.Key </th>
                @foreach (var bus in busStop.Value)
                {
                    <td>
                        <p>Line: @bus.LineName</p>
                        <p>Destination: @bus.DestinationName</p>
                        <p>Scheduled: @bus.ExpectedArrival.AddHours(1).TimeOfDay</p>
                        <p>Expected: @bus.TimeToLive.AddHours(1).TimeOfDay</p>
                    </td>
                }
            </tr>
        }
    </table>
</div>
